{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block homeactive %}active{% endblock homeactive %}


{% block body %}

<div class="container my-5">


    <div class="jumbotron">
        <h1 class="display-4">Welcome to GlobalRead!!  <img src="/static/img/logo.jpeg" style="margin: 0px 0px 0px 400px"></h1>
        <p class="lead">A portal that connects world</p>
        <hr class="my-4">
        <p>We connect to people around us to let them know what's going around them..</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="/gr" role="button">Read now</a>
        </p>
      </div>
</div>

<div class="container">
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">World</strong>
            <h3 class="mb-0">Featured post</h3>
            <div class="mb-1 text-muted">Nov 12</div>
            <p class="card-text mb-auto">There are several things going on around the world. Let's 
              take a look around what's happening!!
            </p><br><br>
            
            <a href="/gr" class="stretched-link">Continue reading</a>
          </div>
          
        </div>
        
      </div>
      
</div>



{% endblock body %}